
{{# if success }}
  <section>
      

      <script src="/javascripts/update-prof-pic.js"></script>
      <script>
        function identifyProject(elem){
          console.log("IDDDDD");
          proj = ((elem.parentNode).parentNode).childNodes[7].textContent;
          console.log(proj);

          $('#projID').text(proj);
          $('#projID').val(parseInt(proj));
        }
      </script>
      
      

      {{# if usertype }}
        <!-- ARTIST GO HERE -->

        <!-- Search form -->
        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#notif">Notifications <span class="badge badge-pill badge-secondary">0</span> </a>

          <button type="button" class="btn btn-primary btn-outlined" data-toggle="modal" data-target="#projectModal" style="margin-left: 50px;">
            New Project
          </button>

          <form action="/logout" method="post" style="display:inline-block;">
            <button type="submit" class="btn btn-danger btn-outlined" style="margin-left: 50px;">
              Log Out
            </button>
          </form>
          
          <div class="search-container">
            <form action="/search" method="post">
              <input type="text" placeholder="Search.." id="searchinput" name="searchinput">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>

        
        <div class="card-columns">

          <div class="card text-white bg-dark w-75" width="100%">
            <img id="profilePic" src="myImage-" alt="your image" height=100% width=100%>

            <div class="card-body">
              <h5 id="user" class="card-title">{{ user }}</h5>
              <small class="text-muted">
                Followers <span id="followers" class="badge badge-pill badge-secondary">0</span>
              </small>
              <small class="text-muted">
                Following <span id="following" class="badge badge-pill badge-secondary">0</span>
              </small>
            </div>

            <div class="card-footer">
              
              <form action="/uploadphoto" method="post" enctype='multipart/form-data'> 
                <label for="profPic" class="btn btn-secondary btn-block btn-outlined">Choose Profile Pic</label>
                <input id = "profPic" type="file" name="myImage" style="display: none"/>
                <button type = "submit" class="btn btn-primary btn-block btn-outlined">Save Profile Pic</button>
              </form>
              
              
            </div>
          </div>

          <div class="card text-center text-white bg-dark w-75">
            <div class="card-body">
              <h5 class="card-title">Contact</h5>
              <p id="uemail" class="card-text"></p>
              <p id="umobile" class="card-text"></p>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#contactModal">
                Edit Info
              </button>
            </div>
          </div>

          <!-- PROJECTS GO HERE -->
          <div id="projSection">
            
          </div>

        </div>
      {{else}}
      <!-- COMPANIES GO HERE -->

        <!-- Search form -->
        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#notif">Notifications <span class="badge badge-pill badge-secondary">0</span> </a>

          <button type="button" class="btn btn-primary btn-outlined" data-toggle="modal" data-target="#vacancyModal" style="margin-left: 50px;">
            New Vacancy
          </button>

          <form action="/logout" method="post" style="display:inline-block;">
            <button type="submit" class="btn btn-danger btn-outlined" style="margin-left: 50px;">
              Log Out
            </button>
          </form>
          
          <div class="search-container">
            <form action="/search" method="post">
              <input type="text" placeholder="Search.." id="searchinput" name="searchinput">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>

        <div class="card-columns">

          <div class="card text-white bg-dark w-75" width="100%">
            <img id="profilePic" src="myImage-" alt="your image" height=100% width=100%>

            <div class="card-body">
              <h5 id="user" class="card-title">{{ user }}</h5>
              <small class="text-muted">
                Followers <span id="followers" class="badge badge-pill badge-secondary">0</span>
              </small>
              <small class="text-muted">
                Following <span id="following" class="badge badge-pill badge-secondary">0</span>
              </small>
            </div>

            <div class="card-footer">
              
              <form action="/uploadphoto" method="post" enctype='multipart/form-data'> 
                <label for="profPic" class="btn btn-secondary btn-block btn-outlined">Choose Profile Pic</label>
                <input id = "profPic" type="file" name="myImage" style="display: none"/>
                <button type = "submit" class="btn btn-primary btn-block btn-outlined">Change Profile Pic</button>
              </form>
              
              
            </div>
          </div>

          <div class="card text-center text-white bg-dark w-75">
            <div class="card-body">
              <h5 class="card-title">Contact</h5>
              <p id="uemail" class="card-text"></p>
              <p id="umobile" class="card-text"></p>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#contactModal">
                Edit Info
              </button>
            </div>
          </div>

          <!-- VACANCIES GO HERE -->
          <div id="vacSection">
            
          </div>

        </div>
      {{/if}}
      <!-- Modal CONTACT -->
      <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Contact Info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/updateInfo" method="post">
              <div class="modal-body">
                <div class = "input">
                  <label for = "upemail" style = "display: block;"> Email: </label>
                  <input type = "text" class="form-control" id = "upemail" name = "upemail">
                </div>
                <div class = "input">
                  <label for = "upmobile" style = "display: block;"> Mobile: </label>
                  <input type = "text" class="form-control" id = "upmobile" name = "upmobile">
                </div>
                <br/>
                <br/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal NEW PROJECT -->
      <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">New Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="/newProject" method="post" enctype='multipart/form-data'>
                <div class="modal-body">
                    
                    <label for = "projName" style = "display: block;"> Name: </label>
                    <input type = "text" class="form-control" id = "projName" name = "projName">

                    <label for = "projDescrip" style = "display: block;"> Description: </label>
                    <input type = "text" class="form-control" id = "projDescrip" name = "projDescrip">

                    <label for = "projLink" style = "display: block;"> Additional Link: </label>
                    <input type = "text" class="form-control" id = "projLink" name = "projLink">

                    <label for = "projType" style = "display: block;"> Type: </label>
                    <select class="form-control" id = "projType" name = "projType">
                        <option value="picture">Picture</option>
                        <option value="video">Video</option>
                        <option value="animation">Animation</option>
                        <option value="audio">Audio</option>
                    </select>
                    <br/>
                    <label for = "projPic" style = "display: block;"> Media: </label>
                    <input id = "projPic" type="file" name="myImage"/>
                  <br/>
                  <br/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
          </div>
        </div>
      </div>

      <!-- Modal EDIT PROJECT -->
      <div class="modal fade" id="EditProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="/editProject" method="post" enctype='multipart/form-data'>
                <div class="modal-body">
                    <!-- HIDDEN LABEL FOR THE INDEX OF THE PROJECT -->
                    <input type = "text" class="form-control" id = "projID" name = "projID" style="display: none;">

                    <label for = "projName" style = "display: block;"> Name: </label>
                    <input type = "text" class="form-control" id = "projName" name = "projName">

                    <label for = "projDescrip" style = "display: block;"> Description: </label>
                    <input type = "text" class="form-control" id = "projDescrip" name = "projDescrip">

                    <label for = "projLink" style = "display: block;"> Additional Link: </label>
                    <input type = "text" class="form-control" id = "projLink" name = "projLink" defaultValue="">

                    <label for = "projType" style = "display: block;"> Type: </label>
                    <select class="form-control" id = "projType" name = "projType">
                        <option value="picture">Picture</option>
                        <option value="video">Video</option>
                        <option value="animation">Animation</option>
                        <option value="audio">Audio</option>
                    </select>
                    <br/>
                    <label for = "projPic" style = "display: block;"> Media: </label>
                    <input id = "projPic" type="file" name="myImage"/>
                  <br/>
                  <br/>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      
      <!-- IMG PROJECT TEMPLATE -->
      <div id="PicProjTemplate" style="display: none;">
        <div class="card text-white bg-dark">
          <img class="card-img-top" src="cover-default.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="proj-link"></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-block btn-outlined" data-toggle="modal" data-target="#EditProjectModal" onclick="identifyProject(this);">
            Edit
            </button>
          </div>
          <div id="id" name="id" class="proj-id" style="display: none;"></div>
        </div>
      </div>

      <!-- VIDEO PROJECT TEMPLATE -->
      <div id="VidProjTemplate" style="display: none;">
        <div class="card text-white bg-dark">
          <video class="img-fluid" src="https://mdbootstrap.com/img/video/animation-intro.mp4" controls>
          </video>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="proj-link"></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-block btn-outlined" data-toggle="modal" data-target="#EditProjectModal" onclick="identifyProject(this);">
            Edit
            </button>
          </div>
          <div id="id" name="id" class="proj-id" style="display: none;"></div>
        </div>
      </div>

      <!-- ANIM PROJECT TEMPLATE -->
      <div id="AnimProjTemplate" style="display: none;">
        <div class="card text-white bg-dark">
          <video class="img-fluid" src="https://mdbootstrap.com/img/video/animation-intro.mp4" playsinline autoplay loop>
          </video>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="proj-link"></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-block btn-outlined" data-toggle="modal" data-target="#EditProjectModal" onclick="identifyProject(this);">
            Edit
            </button>
          </div>
          <div id="id" name="id" class="proj-id" style="display: none;"></div>
        </div>
      </div>

      <!-- AUDIO PROJECT TEMPLATE -->
      <div id="AudioProjTemplate" style="display: none;">
        <div class="card text-white bg-dark">
          <audio controls class="my-audio w-100" width=100% src=""></audio>
          <div class="card-body">
            
            <h5 class="card-title"></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="proj-link"></a>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-block btn-outlined" data-toggle="modal" data-target="#EditProjectModal" onclick="identifyProject(this);">
            Edit
            </button>
          </div>
          <div id="id" name="id" class="proj-id" style="display: none;"></div>
        </div>
      </div>


      <!-- Modal NEW VACANCY -->
      <div class="modal fade" id="vacancyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">New Job Vacancy</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <form action="/newVacancy" method="post" enctype='multipart/form-data'>
                <div class="modal-body">
                    <label for = "jobTitle" style = "display: block;"> Job Title: </label>
                    <input type = "text" class="form-control" id = "jobTitle" name = "jobTitle">

                    <label for="jobDescrip">Job Description:</label>
                    <textarea class="form-control" rows="5" id = "jobDescrip" name = "jobDescrip"></textarea>
                    <br/>
                    <br/>

                    <label for = "jobDoc" style = "display: block;"> Additional Document: </label>
                    <input id = "jobDoc" type="file" name="myImage"/>

                  <br/>
                  <br/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Offer</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      
      <!-- VACANCY TEMPLATE -->
      <div id="vacTemplate" style="display: none;">
        <div class="card text-white bg-dark">
          <div class="card-header">Job Vacancy</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <h5>Resources:</h5>
            <a class="add-doc" href="" download>Added Document</a>
            <br/>
            <h5>Aplicants: </h5>
            <div id="id" name="id" class="vac-id" style="display: none;"></div>
            <div id="applicants" name="applicants" class="applicants-class">

            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-block btn-outlined" data-toggle="modal" data-target="#EditProjectModal">
            Edit
            </button>
          </div>
        </div>
      </div>

      <!-- CV TEMPLATE -->
      <div id="cvTemplate" style="display: none;">
        <a class="cv-class" href="" download>Applicant</a>
      </div>

      <script>
        user = document.getElementById("user").textContent;
        profilePic = document.getElementById("profilePic");
        imgPath = "../../public/uploads/myImage-" + user + ".png";
        //profilePic.src = imgPath;
      </script>
  </section>
{{else}}
  {{# if errors}}
    <section class="errors">
      <ul>
        {{# each errors }}
          <li>{{ this.msg }}</li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
  <div class="card text-white bg-dark mb-3">

      <div class="card-header">Log in with your account: </div>
      <div class="card-body">
        <form>
          <div class = "input">
            <label for = "loginusername" style = "display: block;"> Username </label>
            <input type = "text" class="form-control" id = "loginusername" name = "loginusername">
          </div>
          <div class = "input">
            <label for = "loginpassword" style = "display: block;"> Password </label>
            <input type = "password" class="form-control" id = "loginpassword" name = "loginpassword">
          </div>
          <br/>
          <br/>
          <button type = "submit" class="btn btn-secondary" formaction="/login" formmethod="post">Log In</button>
          <button type = "submit" class="btn btn-secondary" formaction="/register" formmethod="post">Register</button>
          <button type = "submit" class="btn btn-secondary" formaction="/restart-db" formmethod="post">Restart DB</button>
        </form>
      </div>
  </div>
{{/if}}

